
<div *ngIf="isLogin()">Welcome
    <button (click)="logout()">Logout</button>
</div>

<form *ngIf="!isLogin()" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="username" class="form-label mt-3">Username:
            <input name="username" class="form-control" placeholder="Enter username" ngModel>
        </label>&nbsp;
        <label for="password" class="form-label mt-3">Password:
            <input name="password" class="form-control" placeholder="Enter password" ngModel>
        </label> &nbsp;
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>