<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Animetion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/movies">Movies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLoggedIn()" routerLink="/addmovie">Add New Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isLoggedIn()" routerLink="/profile">Profile</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/search">Search</a>
                </li> -->
            </ul>
            <form class="d-flex">
                <app-login></app-login>
            </form>
        </div>
    </div>
</nav>