<div class="container-fluid">
    <h3><b>Title: {{movie.title}}</b></h3> <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Year</th>
                <th scope="col">Duration</th>
                <th scope="col">Actors</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active table-dark">
                <th>{{movie.title}}</th>
                <th>{{movie.genre}}</th>
                <td>{{movie.year}}</td>
                <td>{{movie.duration}} mins</td>
                <td>
                    <li *ngFor="let actor of movie.actors">{{actor.name}}</li>
                </td>
                <td>
                    <li *ngFor="let actor of movie.actors"> Awards: {{actor.awards}}</li>
                </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="isLoggedIn()" type="submit" class="btn btn-success" (click)="deleteOne(movie._id)">Delete</button> &nbsp;
    <button type="submit" class="btn btn-success" routerLink="/movies">Cancel</button>

</div>